/* -------------------------------------------------- 
  :: DatePicker Container
  ---------------------------------------------------*/
.ui-datepicker {
	width: 216px;;
	height: auto;
	background: #fff;
	z-index: 101 !important;
	margin: 5px auto 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.ui-datepicker a {
	text-decoration: none;
}
.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker .ui-widget-header {
	background:#464646;
	color: #e0e0e0;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-shadow: 1px -1px 0px #000;
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}
.ui-datepicker .ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;

}
.ui-datepicker-prev{
	float: left;
	border-right: 1px solid #333;
	background-position: center -30px;
}
.ui-datepicker-next{
	float: right;
	border-left: 1px solid #333;
	background-position: center 0px;
}
a.ui-datepicker-prev, a.ui-datepicker-next {
	outline: 0;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 7pt;
	padding: 5px 0;
	color: #666666;
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 29px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background-color: #ededed;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background-image: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background-image: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background-image: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background-image: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background-image: linear-gradient(top,  #ededed 0%,#dedede 100%);
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background-color: #21759b;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
	background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
	background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
	background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
	background-image: -o-linear-gradient(top,#2a95c5,#21759b);
	background-image: linear-gradient(to bottom,#2a95c5,#21759b);
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .2);
	color: #fff !important;
	text-shadow: 0px 1px 0px #4d7a85;
	position: relative;
}
.ui-datepicker-calendar .ui-state-highlight {
	color: #2a95c5;
	border-radius: 0px;
	border: none;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 30px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 30px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 30px;
	margin-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .7em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .7em .2em ;
	cursor: pointer;
	width: auto;
	height:auto;
	border: 1px solid #21759b;
	border-bottom-color: #1e6a8d;
	color: white;
	padding: 5px 14px;
	background-color: #2688b4;
	background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a95c5), to(#21759b));
	background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
	background-image: -o-linear-gradient(top, #2a95c5, #21759b);
	background-image: linear-gradient(to bottom, #2a95c5, #21759b);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ie-hex-str($startColor)', endColorstr='#ie-hex-str($endColor)', GradientType=0);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
/* Timepicker */
.ui-timepicker-div {
	margin:0 10px;
}
.ui-timepicker-div .ui-widget-content { 
	border: 1px solid #aaaaaa;
	background: #fff;
	
	font-weight: normal;
	color: #212121;
}
.ui-timepicker-div .ui-slider {
	position: relative;
	text-align: left;
}
.ui-timepicker-div .ui-slider-horizontal {
	height: .7em;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
	background:#2a95c5; 
	position: absolute;
	width: 1em;
	height: 1em;
	cursor: default;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #464646;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
	background: #21759b;
	outline:none;
}
.ui-timepicker-div dl { 
	text-align: left; 
}
.ui-timepicker-div dl dt { 
	float: left; 
	clear:left; 
	padding: 0 0 0 5px; 
}
.ui-timepicker-div dl dd { 
	margin: 0 10px 10px 45%; 
}
.ui-timepicker-div td { 
	font-size: 90%; 
}
.ui-tpicker-grid-label { 
	background: none; 
	border: none; 
	margin: 0; 
	padding: 0; 
}
/* Right to left */
.ui-timepicker-rtl{ 
	direction: rtl; 
}
.ui-timepicker-rtl dl { 
	text-align: right; 
	padding: 0 5px 0 0; 
}
.ui-timepicker-rtl dl dt{ 
	float: right; 
	clear: right; 
}
.ui-timepicker-rtl dl dd { 
	margin: 0 45% 10px 10px; 
}